[submodule "adv_chat"]
	path = adv_chat
	url = https://github.com/appgurueu/adv_chat
[submodule "modlib"]
	path = modlib
	url = https://github.com/appgurueu/modlib
[submodule "cmdlib"]
	path = cmdlib
	url = https://github.com/appgurueu/cmdlib
[submodule "deathlist"]
	path = deathlist
	url = https://github.com/appgurueu/deathlist
